@model TheMusic.Models.BandType

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>BandType</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.btNameType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.btNameType)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("แก้ไข", "Edit", new { id = Model.btBandTypeID }, new { @class = "btn btn-warning" }) |
    @Html.ActionLink("ย้อนกลับ", "Index", null, new { @class = "btn btn-info" })
</p>
