@model TheMusic.Models.Record

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ลบข้อมูล</h2>

<h3>คุณต้องการลบข้อมูลใช่ไหม?</h3>
<div>
    <h4>Record</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.rRecordName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.rRecordName)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="ลบข้อมูล" class="btn btn-danger" /> |
            @Html.ActionLink("ย้อนกลับ", "Index", null, new { @class = "btn btn-info" })
        </div>
    }
</div>
