USE [master]
GO
/****** Object:  Database [MusicStory5903]    Script Date: 11/1/2562 18:29:27 ******/
CREATE DATABASE [MusicStory5903]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MusicStory5903', FILENAME = N'D:\งานคนอื่น\สำรองข้อมูล\MusicStory5903.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MusicStory5903_log', FILENAME = N'D:\งานคนอื่น\สำรองข้อมูล\MusicStory5903_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MusicStory5903].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MusicStory5903]
GO
USE [MusicStory5903]
GO
/****** Object:  Table [dbo].[Albums]    Script Date: 11/1/2562 18:29:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Albums](
	[alABID] [int] IDENTITY(1,1) NOT NULL,
	[alBandID] [int] NULL,
	[alAlbumsName] [varchar](50) NULL,
	[alPictureAlbums] [image] NULL,
 CONSTRAINT [PK_Albums_1] PRIMARY KEY CLUSTERED 
(
	[alABID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Author]    Script Date: 11/1/2562 18:29:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Author](
	[atAuthorID] [int] IDENTITY(1,1) NOT NULL,
	[atAuthorName] [varchar](50) NULL,
	[atProfile] [varchar](max) NULL,
	[atPicture] [image] NULL,
 CONSTRAINT [PK_Author] PRIMARY KEY CLUSTERED 
(
	[atAuthorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Band]    Script Date: 11/1/2562 18:29:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Band](
	[bBandID] [int] IDENTITY(1,1) NOT NULL,
	[bBandName] [varchar](50) NULL,
	[bRecordID] [int] NULL,
	[bBTypeID] [int] NULL,
	[bStatus] [varchar](10) NULL,
	[bBandProfile] [varchar](max) NULL,
	[bPicturebands] [image] NULL,
 CONSTRAINT [PK_Band] PRIMARY KEY CLUSTERED 
(
	[bBandID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BandType]    Script Date: 11/1/2562 18:29:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BandType](
	[btBandTypeID] [int] IDENTITY(1,1) NOT NULL,
	[btNameType] [varchar](50) NULL,
 CONSTRAINT [PK_BandType] PRIMARY KEY CLUSTERED 
(
	[btBandTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Melody]    Script Date: 11/1/2562 18:29:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Melody](
	[mlMelodyID] [int] IDENTITY(1,1) NOT NULL,
	[mlMelodyName] [varchar](50) NULL,
	[mlDetail] [varchar](300) NULL,
	[mlLPic] [image] NULL,
 CONSTRAINT [PK_Melody] PRIMARY KEY CLUSTERED 
(
	[mlMelodyID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Music]    Script Date: 11/1/2562 18:29:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Music](
	[msMusicID] [int] IDENTITY(1,1) NOT NULL,
	[msABID] [int] NOT NULL,
	[msMusicName] [varchar](50) NULL,
	[msLyrics] [varchar](max) NULL,
	[msAuthorID] [int] NULL,
	[msMelodyID] [int] NULL,
	[msBandID] [int] NULL,
	[msMStyleID] [int] NULL,
	[msMusicUpload] [varchar](max) NULL,
 CONSTRAINT [PK_Music_1] PRIMARY KEY CLUSTERED 
(
	[msMusicID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MusicStyle]    Script Date: 11/1/2562 18:29:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MusicStyle](
	[mstMusicStyleID] [int] IDENTITY(1,1) NOT NULL,
	[mstStyleName] [varchar](50) NULL,
 CONSTRAINT [PK_MusicStyle] PRIMARY KEY CLUSTERED 
(
	[mstMusicStyleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Record]    Script Date: 11/1/2562 18:29:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Record](
	[rRecordID] [int] IDENTITY(1,1) NOT NULL,
	[rRecordName] [varchar](50) NULL,
 CONSTRAINT [PK_Record] PRIMARY KEY CLUSTERED 
(
	[rRecordID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserAccount]    Script Date: 11/1/2562 18:29:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserAccount](
	[UserName] [varchar](20) NOT NULL,
	[UserPassword] [varchar](20) NULL,
	[UserTypeID] [int] NULL,
 CONSTRAINT [PK_UserAccount] PRIMARY KEY CLUSTERED 
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserType]    Script Date: 11/1/2562 18:29:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserType](
	[TypeUserID] [int] NOT NULL,
	[TypeUserName] [varchar](50) NULL,
 CONSTRAINT [PK_UserType] PRIMARY KEY CLUSTERED 
(
	[TypeUserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Albums] ON 
GO
INSERT [dbo].[Albums] ([alABID], [alBandID], [alAlbumsName], [alPictureAlbums]) VALUES (60, 23, N'Save my life', NULL)
GO
INSERT [dbo].[Albums] ([alABID], [alBandID], [alAlbumsName], [alPictureAlbums]) VALUES (73, 23, N'pppp', NULL)
GO
SET IDENTITY_INSERT [dbo].[Albums] OFF
GO
SET IDENTITY_INSERT [dbo].[Author] ON 
GO
INSERT [dbo].[Author] ([atAuthorID], [atAuthorName], [atProfile], [atPicture]) VALUES (8, N'ขจรเดช พรมรักษา', N'555555555555555555', NULL)
GO
INSERT [dbo].[Author] ([atAuthorID], [atAuthorName], [atProfile], [atPicture]) VALUES (9, N'โอฬาล ปานพุ่ม', N'66666666666666', NULL)
GO
SET IDENTITY_INSERT [dbo].[Author] OFF
GO
SET IDENTITY_INSERT [dbo].[Band] ON 
GO
INSERT [dbo].[Band] ([bBandID], [bBandName], [bRecordID], [bBTypeID], [bStatus], [bBandProfile], [bPicturebands]) VALUES (23, N'Bodyslam', 7, 12, N'BAND', N'66666666666666666666666666666666666666666666666666666666666666', 0x7E2F696D616765732F6148523063446F764C3341784C6D6C7A5957357662327375593239744C3270764C7A4176645751764E4463774C7A497A4E5451784D544D76596D396B65584E7359573075616E426E3631303431383034352E6A7067)
GO
SET IDENTITY_INSERT [dbo].[Band] OFF
GO
SET IDENTITY_INSERT [dbo].[BandType] ON 
GO
INSERT [dbo].[BandType] ([btBandTypeID], [btNameType]) VALUES (12, N'สตริง')
GO
INSERT [dbo].[BandType] ([btBandTypeID], [btNameType]) VALUES (13, N'ลูกทุ่ง')
GO
INSERT [dbo].[BandType] ([btBandTypeID], [btNameType]) VALUES (14, N'สากล')
GO
SET IDENTITY_INSERT [dbo].[BandType] OFF
GO
SET IDENTITY_INSERT [dbo].[Melody] ON 
GO
INSERT [dbo].[Melody] ([mlMelodyID], [mlMelodyName], [mlDetail], [mlLPic]) VALUES (9, N'อาทิวราห์ คงมาลัย', NULL, NULL)
GO
INSERT [dbo].[Melody] ([mlMelodyID], [mlMelodyName], [mlDetail], [mlLPic]) VALUES (10, N'บุญชัย แสงทอง', NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[Melody] OFF
GO
SET IDENTITY_INSERT [dbo].[Music] ON 
GO
INSERT [dbo].[Music] ([msMusicID], [msABID], [msMusicName], [msLyrics], [msAuthorID], [msMelodyID], [msBandID], [msMStyleID], [msMusicUpload]) VALUES (44, 60, N'ertret', N'retert', 8, 9, 23, 23, N'~/Music/One Piece - Dollhouse622947485.mp3')
GO
SET IDENTITY_INSERT [dbo].[Music] OFF
GO
SET IDENTITY_INSERT [dbo].[MusicStyle] ON 
GO
INSERT [dbo].[MusicStyle] ([mstMusicStyleID], [mstStyleName]) VALUES (23, N'เมลทัล')
GO
INSERT [dbo].[MusicStyle] ([mstMusicStyleID], [mstStyleName]) VALUES (24, N'คลาสสิก')
GO
INSERT [dbo].[MusicStyle] ([mstMusicStyleID], [mstStyleName]) VALUES (25, N'แจ๊ส')
GO
SET IDENTITY_INSERT [dbo].[MusicStyle] OFF
GO
SET IDENTITY_INSERT [dbo].[Record] ON 
GO
INSERT [dbo].[Record] ([rRecordID], [rRecordName]) VALUES (7, N'GMM')
GO
SET IDENTITY_INSERT [dbo].[Record] OFF
GO
ALTER TABLE [dbo].[Albums]  WITH CHECK ADD  CONSTRAINT [FK_Albums_Band1] FOREIGN KEY([alBandID])
REFERENCES [dbo].[Band] ([bBandID])
GO
ALTER TABLE [dbo].[Albums] CHECK CONSTRAINT [FK_Albums_Band1]
GO
ALTER TABLE [dbo].[Band]  WITH CHECK ADD  CONSTRAINT [FK_Band_BandType1] FOREIGN KEY([bBTypeID])
REFERENCES [dbo].[BandType] ([btBandTypeID])
GO
ALTER TABLE [dbo].[Band] CHECK CONSTRAINT [FK_Band_BandType1]
GO
ALTER TABLE [dbo].[Band]  WITH CHECK ADD  CONSTRAINT [FK_Band_Record1] FOREIGN KEY([bRecordID])
REFERENCES [dbo].[Record] ([rRecordID])
GO
ALTER TABLE [dbo].[Band] CHECK CONSTRAINT [FK_Band_Record1]
GO
ALTER TABLE [dbo].[Music]  WITH CHECK ADD  CONSTRAINT [FK_Music_Albums1] FOREIGN KEY([msABID])
REFERENCES [dbo].[Albums] ([alABID])
GO
ALTER TABLE [dbo].[Music] CHECK CONSTRAINT [FK_Music_Albums1]
GO
ALTER TABLE [dbo].[Music]  WITH CHECK ADD  CONSTRAINT [FK_Music_Author1] FOREIGN KEY([msAuthorID])
REFERENCES [dbo].[Author] ([atAuthorID])
GO
ALTER TABLE [dbo].[Music] CHECK CONSTRAINT [FK_Music_Author1]
GO
ALTER TABLE [dbo].[Music]  WITH CHECK ADD  CONSTRAINT [FK_Music_Melody1] FOREIGN KEY([msMelodyID])
REFERENCES [dbo].[Melody] ([mlMelodyID])
GO
ALTER TABLE [dbo].[Music] CHECK CONSTRAINT [FK_Music_Melody1]
GO
ALTER TABLE [dbo].[Music]  WITH CHECK ADD  CONSTRAINT [FK_Music_MusicStyle1] FOREIGN KEY([msMStyleID])
REFERENCES [dbo].[MusicStyle] ([mstMusicStyleID])
GO
ALTER TABLE [dbo].[Music] CHECK CONSTRAINT [FK_Music_MusicStyle1]
GO
ALTER TABLE [dbo].[UserAccount]  WITH CHECK ADD  CONSTRAINT [FK_UserAccount_UserType1] FOREIGN KEY([UserTypeID])
REFERENCES [dbo].[UserType] ([TypeUserID])
GO
ALTER TABLE [dbo].[UserAccount] CHECK CONSTRAINT [FK_UserAccount_UserType1]
GO
USE [master]
GO
